<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body> 
  {{>navbar}}
 <!-- ---- main header ----- -->
 <div class="container-fluid main_header">
    <div class="row">
       <div class="col-md-10 col-12 mx-auto">
        <div class="row ">
            <!-- left side div -->
            <div class="col-md-12 col-12 main_header_left  align-items-center " >
                <figure>
                    <img src="image/404page.jpg" id="404page" alt="thapa" class="img-fluid">
                   </figure>
              <h2>{{errorMsg}}</h2>
      </div>
        </div>
       </div>
    </div>
 </div>

 <!-- footer code -->
 {{>footer}}
</body>
</html>
